@font-face {
  font-family: "leagueSpartan";
  src: url(/assets/font/League_Spartan/League-Spartan.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(245, 225, 188);
}

.logoDiv {
  background-color: rgb(2, 2, 110);
}
.logoDiv img {
  max-width: 8vw;
}

h1 {
  font-family: "leagueSpartan";
  font-size: 70px;
  text-align: center;
  margin: 30px;
}

.counter {
  width: 50vw;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 100px;
  background-color: rgb(236, 229, 229);
}
.counter .hidden {
  display: none;
}
.counter .display {
  display: flex;
  margin: 20px;
}
.counter .result {
  display: block;
  width: 90%;
  min-height: 12vh;
  border-top: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-left: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  align-content: center;
  text-align: center;
  overflow-wrap: break-word;
}
.counter .resultSmall {
  width: 35%;
  min-height: 12vh;
  border-top: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-left: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  align-content: center;
  text-align: center;
  overflow-wrap: break-word;
}
.counter .restart {
  display: block;
  width: 10%;
  min-height: 12vh;
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .restartSmall {
  width: 10%;
  min-height: 12vh;
  border: 1px solid #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .restart:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.counter .plusButtons {
  display: flex;
  margin: 20px;
}
.counter .plus {
  width: 100%;
  height: 10vh;
  border-radius: 10px;
  background-color: rgb(2, 109, 2);
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .plus:active {
  background-color: rgba(2, 109, 2, 0.8);
}
.counter .plusSmall {
  width: 45%;
  height: 10vh;
  border-radius: 10px;
  background-color: rgb(2, 109, 2);
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .minusButtons {
  display: flex;
  margin: 20px;
}
.counter .minus:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.counter .minus {
  width: 100%;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .minusSmall {
  width: 45%;
  height: 8vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .divideCounter {
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .options {
  width: 100%;
  height: 5vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.counter .step {
  width: 100%;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
.counter .labelSmall {
  width: 45%;
  text-align: center;
}
.counter .stepSmall {
  width: 45%;
  height: 5vh;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.3137254902);
  border-radius: 10px;
  text-align: center;
}
.counter .show {
  display: block;
  margin: 20px;
}

footer {
  height: 10vh;
  background-color: rgb(2, 2, 110);
}/*# sourceMappingURL=style.css.map */